Imports csvs

In [ ]:
import pandas as pd

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

Verification des doublons

In [ ]:
print(train.duplicated().sum(),test.duplicated().sum())

0 0

In [ ]:
na_train = train.isna().sum()
na_train = na_train[na_train > 0].sort_values(ascending=False)
na_train

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
MasVnrType       872
FireplaceQu      690
LotFrontage      259
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
BsmtExposure      38
BsmtFinType2      38
BsmtQual          37
BsmtCond          37
BsmtFinType1      37
MasVnrArea         8
Electrical         1
dtype: int64

In [ ]:
na_test = test.isna().sum()
na_test = na_test[na_test > 0].sort_values(ascending=False)
na_test

PoolQC          1456
MiscFeature     1408
Alley           1352
Fence           1169
MasVnrType       894
FireplaceQu      730
LotFrontage      227
GarageQual        78
GarageCond        78
GarageYrBlt       78
GarageFinish      78
GarageType        76
BsmtCond          45
BsmtQual          44
BsmtExposure      44
BsmtFinType1      42
BsmtFinType2      42
MasVnrArea        15
MSZoning           4
Functional         2
BsmtFullBath       2
Utilities          2
BsmtHalfBath       2
Exterior1st        1
Exterior2nd        1
TotalBsmtSF        1
BsmtUnfSF          1
BsmtFinSF2         1
BsmtFinSF1         1
KitchenQual        1
GarageArea         1
GarageCars         1
SaleType           1
dtype: int64

Nb de colonnes avec des colonnes manquantes

In [ ]:
# Nombre de variables avec des NA pour train et test( respctivement)
na_train = train.isna().sum()
na_train = na_train[na_train > 0]
na_test = test.isna().sum()
na_test = na_test[na_test > 0]

len(na_train), len(na_test)

(19, 33)

Remplacement des "na" pour les colonnes ou "na" correspond simplement à l'absence de la la carctéristique en question, on remplace par "None"

In [ ]:
cols_na_abs = [
    "Alley", "BsmtQual", "BsmtCond", "BsmtExposure", "BsmtFinType1",
    "BsmtFinType2", "FireplaceQu", "GarageType", "GarageFinish",
    "GarageQual", "GarageCond", "PoolQC", "Fence", "MiscFeature"
]

for col in cols_na_abs:
    train[col] = train[col].fillna("None")
    test[col] = test[col].fillna("None")

Remplacement des "na" pour les colonnes ou "na" signifie que la variable (caractéristique) vaut 0 (ex : surface, equipements, ...)

In [ ]:
cols_zeros= [
    "GarageYrBlt", "GarageArea", "GarageCars",
    "BsmtFinSF1", "BsmtFinSF2", "BsmtUnfSF", "TotalBsmtSF",
    "BsmtFullBath", "BsmtHalfBath", "MasVnrArea"
]

for col in cols_zeros:
    train[col] = train[col].fillna(0)
    test[col] = test[col].fillna(0)

**Nb de colonnes avec des colonnes manquantes après le traitement précedent**

In [ ]:
# Nombre de colonnes avec des NA pour train et test( respctivement)
na_train = train.isna().sum()
na_train = na_train[na_train > 0]
na_test = test.isna().sum()
na_test = na_test[na_test > 0]

len(na_train), len(na_test)

(3, 9)

Tableau récapitulatif des variables avec encore des NA dans les 2 jeux de données

In [ ]:
na_restants= pd.DataFrame({
    "nb_na_train": na_train,
    "nb_na_test": na_test
})

na_restants = na_restants[(na_restants["nb_na_train"] > 0) |
                              (na_restants["nb_na_test"] > 0)]

na_restants

             nb_na_train  nb_na_test
Electrical           1.0         NaN
Exterior1st          NaN         1.0
Exterior2nd          NaN         1.0
Functional           NaN         2.0
KitchenQual          NaN         1.0
LotFrontage        259.0       227.0
MSZoning             NaN         4.0
MasVnrType         872.0       894.0
SaleType             NaN         1.0
Utilities            NaN         2.0

Traitement colonne "MasVnrTypre" (Masonry veneer type) : colonne correspondant au type de revêtement mais en regardant le fichier texte, on se rend compte que les Na signifie "pas de revêtement" donc on peut mettre "None" ici également.

In [ ]:
train["MasVnrType"] = train["MasVnrType"].fillna("None")
test["MasVnrType"] = test["MasVnrType"].fillna("None")

Traitement des colonnes [Exterior1st, Exterior2nd, SaleType, Functional, Utilities, MSZoning,etc]

Pour ces variables il manque seulement une ou deux valeurs, on va les remplacer par la valeur observée la plus fréquente dans la colonne.
Par exemple, la variable "KitchenQual" donne la qualité de la cuisine(soit Ex, Gd, TA, Fa ou Po).
C'est une variable qualitative ordinale qui possède une seule valeur manquante, pour éviter de supprimer un indicidu, on remplace cette valeur par le mode de la colonne.

In [ ]:
cols_mode = [
    "Electrical", "Exterior1st", "Exterior2nd", "KitchenQual",
    "Functional", "SaleType", "Utilities", "MSZoning"
]

for col in cols_mode:
    train[col] = train[col].fillna(train[col].mode()[0])
    test[col] = test[col].fillna(train[col].mode()[0])

**Nb de colonnes avec des colonnes manquantes après les traitements précedents**

In [ ]:
na_train = train.isna().sum()
na_test = test.isna().sum()

In [ ]:
na_restants= pd.DataFrame({
    "nb_na_train": na_train,
    "nb_na_test": na_test
})

na_restants = na_restants[(na_restants["nb_na_train"] > 0) |
                              (na_restants["nb_na_test"] > 0)]

na_restants

             nb_na_train  nb_na_test
LotFrontage          259       227.0

Traitement colonne "LotFrontage" (Linear feet of street connected to property) : colonne correspondant à la longueur de la façade qui donne sur la rue, on remplace les valeurs manquantes par la mediane de la varaibale dans le train.

In [ ]:
mediane= train["LotFrontage"].median()

train["LotFrontage"] = train["LotFrontage"].fillna(mediane)
test["LotFrontage"] = test["LotFrontage"].fillna(mediane)

On verifie qu'il n'y a plus aucune valeur manquante dans le train et le test.

In [ ]:
na_train = train.isna().sum()
na_test = test.isna().sum()

In [ ]:
na_restants= pd.DataFrame({
    "nb_na_train": na_train,
    "nb_na_test": na_test
})

na_restants = na_restants[(na_restants["nb_na_train"] > 0) |
                              (na_restants["nb_na_test"] > 0)]

na_restants

Empty DataFrame
Columns: [nb_na_train, nb_na_test]
Index: []

In [ ]:
train["SalePrice"].describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

Transformation logarithmique de la colonne "SalePrice" dans le train, le prix de vente

In [ ]:
import numpy as np
train["SalePrice_log"] = np.log(train["SalePrice"])

In [ ]:
print(train.head)

<bound method NDFrame.head of         Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0        1          60       RL         65.0     8450   Pave  None      Reg
1        2          20       RL         80.0     9600   Pave  None      Reg
2        3          60       RL         68.0    11250   Pave  None      IR1
3        4          70       RL         60.0     9550   Pave  None      IR1
4        5          60       RL         84.0    14260   Pave  None      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1455  1456          60       RL         62.0     7917   Pave  None      Reg
1456  1457          20       RL         85.0    13175   Pave  None      Reg
1457  1458          70       RL         66.0     9042   Pave  None      Reg
1458  1459          20       RL         68.0     9717   Pave  None      Reg
1459  1460          20       RL         75.0     9937   Pave  None      Reg

     LandContour Utilities  ... PoolQC  Fence MiscFeature MiscVal MoSold  \
0            Lvl    AllPub  ...   None   None        None       0      2
1            Lvl    AllPub  ...   None   None        None       0      5
2            Lvl    AllPub  ...   None   None        None       0      9
3            Lvl    AllPub  ...   None   None        None       0      2
4            Lvl    AllPub  ...   None   None        None       0     12
...          ...       ...  ...    ...    ...         ...     ...    ...
1455         Lvl    AllPub  ...   None   None        None       0      8
1456         Lvl    AllPub  ...   None  MnPrv        None       0      2
1457         Lvl    AllPub  ...   None  GdPrv        Shed    2500      5
1458         Lvl    AllPub  ...   None   None        None       0      4
1459         Lvl    AllPub  ...   None   None        None       0      6

     YrSold SaleType  SaleCondition  SalePrice  SalePrice_log
0      2008       WD         Normal     208500      12.247694
1      2007       WD         Normal     181500      12.109011
2      2008       WD         Normal     223500      12.317167
3      2006       WD        Abnorml     140000      11.849398
4      2008       WD         Normal     250000      12.429216
...     ...      ...            ...        ...            ...
1455   2007       WD         Normal     175000      12.072541
1456   2010       WD         Normal     210000      12.254863
1457   2010       WD         Normal     266500      12.493130
1458   2010       WD         Normal     142125      11.864462
1459   2008       WD         Normal     147500      11.901583

[1460 rows x 82 columns]>

In [ ]:
print(test.head)

<bound method NDFrame.head of         Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0     1461          20       RH         80.0    11622   Pave  None      Reg
1     1462          20       RL         81.0    14267   Pave  None      IR1
2     1463          60       RL         74.0    13830   Pave  None      IR1
3     1464          60       RL         78.0     9978   Pave  None      IR1
4     1465         120       RL         43.0     5005   Pave  None      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1454  2915         160       RM         21.0     1936   Pave  None      Reg
1455  2916         160       RM         21.0     1894   Pave  None      Reg
1456  2917          20       RL        160.0    20000   Pave  None      Reg
1457  2918          85       RL         62.0    10441   Pave  None      Reg
1458  2919          60       RL         74.0     9627   Pave  None      Reg

     LandContour Utilities  ... ScreenPorch PoolArea PoolQC  Fence  \
0            Lvl    AllPub  ...         120        0   None  MnPrv
1            Lvl    AllPub  ...           0        0   None   None
2            Lvl    AllPub  ...           0        0   None  MnPrv
3            Lvl    AllPub  ...           0        0   None   None
4            HLS    AllPub  ...         144        0   None   None
...          ...       ...  ...         ...      ...    ...    ...
1454         Lvl    AllPub  ...           0        0   None   None
1455         Lvl    AllPub  ...           0        0   None   None
1456         Lvl    AllPub  ...           0        0   None   None
1457         Lvl    AllPub  ...           0        0   None  MnPrv
1458         Lvl    AllPub  ...           0        0   None   None

     MiscFeature MiscVal MoSold  YrSold  SaleType  SaleCondition
0           None       0      6    2010        WD         Normal
1           Gar2   12500      6    2010        WD         Normal
2           None       0      3    2010        WD         Normal
3           None       0      6    2010        WD         Normal
4           None       0      1    2010        WD         Normal
...          ...     ...    ...     ...       ...            ...
1454        None       0      6    2006        WD         Normal
1455        None       0      4    2006        WD        Abnorml
1456        None       0      9    2006        WD        Abnorml
1457        Shed     700      7    2006        WD         Normal
1458        None       0     11    2006        WD         Normal

[1459 rows x 80 columns]>

In [ ]:
print(test)

        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0     1461          20       RH         80.0    11622   Pave  None      Reg
1     1462          20       RL         81.0    14267   Pave  None      IR1
2     1463          60       RL         74.0    13830   Pave  None      IR1
3     1464          60       RL         78.0     9978   Pave  None      IR1
4     1465         120       RL         43.0     5005   Pave  None      IR1
...    ...         ...      ...          ...      ...    ...   ...      ...
1454  2915         160       RM         21.0     1936   Pave  None      Reg
1455  2916         160       RM         21.0     1894   Pave  None      Reg
1456  2917          20       RL        160.0    20000   Pave  None      Reg
1457  2918          85       RL         62.0    10441   Pave  None      Reg
1458  2919          60       RL         74.0     9627   Pave  None      Reg

     LandContour Utilities  ... ScreenPorch PoolArea PoolQC  Fence  \
0            Lvl    AllPub  ...         120        0   None  MnPrv
1            Lvl    AllPub  ...           0        0   None   None
2            Lvl    AllPub  ...           0        0   None  MnPrv
3            Lvl    AllPub  ...           0        0   None   None
4            HLS    AllPub  ...         144        0   None   None
...          ...       ...  ...         ...      ...    ...    ...
1454         Lvl    AllPub  ...           0        0   None   None
1455         Lvl    AllPub  ...           0        0   None   None
1456         Lvl    AllPub  ...           0        0   None   None
1457         Lvl    AllPub  ...           0        0   None  MnPrv
1458         Lvl    AllPub  ...           0        0   None   None

     MiscFeature MiscVal MoSold  YrSold  SaleType  SaleCondition
0           None       0      6    2010        WD         Normal
1           Gar2   12500      6    2010        WD         Normal
2           None       0      3    2010        WD         Normal
3           None       0      6    2010        WD         Normal
4           None       0      1    2010        WD         Normal
...          ...     ...    ...     ...       ...            ...
1454        None       0      6    2006        WD         Normal
1455        None       0      4    2006        WD        Abnorml
1456        None       0      9    2006        WD        Abnorml
1457        Shed     700      7    2006        WD         Normal
1458        None       0     11    2006        WD         Normal

[1459 rows x 80 columns]

In [ ]:
train.to_csv("train_bis.csv", index=False)
test.to_csv("test_bis.csv", index=False)